<div id="reload" class="container">
  </br>
  <center><h2 class="text-white">Mis Documentos</h2></center>
  </br>
  <table id="example" class="table table-striped"> <!--estilo de la tabla-->
  <thead> <!--se define las columnas-->
      <tr>
        <th class="text-black">Titulo</th>
        <th class="text-black">Tema</th>
        <th class="text-black">Archivo</th>
        <th class="text-black">Ver</th>
        <% if @user.admin == 1 %>
          <th class="text-black">Borrar</th>
        <% end %>
      </tr>
    </thead>
  <tbody> 
        <% @documents.each do |d| %>  <!--Se muestran todos los documentos-->
          <%if d.visibility %>  <!--Si la visibilidad del documento es "true" se muestra-->
            <form action="" method="POST">
              <tr>
                <td class="text-white"><%=d.title %></td>
                <td class="text-white"><%=d.topic %></td>
                <td class="text-white"><%=d.file %></td>
                <td><a href = "<%="#{d.id}#{d.file}"%>" target="_blank" >Ir</a></td>
                <% if @user.admin == 1 %> <!--Solo los administradores pueden borrar documentos-->
                  <td><button onclick="prueba(<%=d.id%>)" >Eliminar</button></td> <!--Boton de borrado-->
                <% end %>
              </tr>
            </form>
          <%end%>
        <%end%>    
  </tbody>
</table>
</div>

<script>
  $(document).ready(function() {
  $('#example').dataTable( {
        //"serverSide": true
    });
  });

  function prueba(id){
  var r = confirm("Presione para confirmar!");
  if (r == true) {
      $.ajax({
        method : 'POST',
        url: "http://localhost:9292/delete_doc",
        dataType: 'json',
        data: { delete_doc: id },
        success: function(data) {
          console.log("Llego tu tiburon");
          alert("Documento borrado exitosamente");
        }, 
        error: function(e) {
          console.log("Entre");
          console.log(e);
        }
      })
      console.log("fin");
    }
  }
</script>





